@charset "UTF-8";
/* START BODY AND UNIVERSALS */
html,
body { height: 100% }
body {
    font-family: Arial,Verdena;
    font-size: 12px;
    background: url(../images/body-background-6-212.png) center top repeat-x #eeeeee;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    color: #000;
}
p,
a,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
div,
img {
    margin: 0;
    padding: 0;
    border: 0;
}
blockquote { font-style: italic }
.text-swap {
    display: block;
    text-indent: -9999px;
    cursor: pointer;
}
#wrapper {
    min-height: 100%;
    margin-bottom: -88px;
    position: relative;
}
#container {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
body .section-container {
    width: 932px;
    margin: 0 auto 0 auto;
}
#header {
    position: relative;
    height: 213px;
    z-index: 100;
}
#header .section-container { position: relative }
#mason-logo {
    position: absolute;
    top: 8px;
    width: 191px;
    height: 141px;
    background: url(../images/header-mason-logo-191-141.png) no-repeat;
}
#header h1 + h2 {
    position: relative;
    top: 44px;
    left: 220px;
    padding-left: 33px;
    height: 91px;
    width: 500px;
    border-left: 1px solid #000;
}
#site-name {
    display: table-cell;
    vertical-align: middle;
    height: 91px;
    font-family: Oswald, Arial, sans-serif;
    color: #383838;
    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
    text-shadow: -1px 1px 1px #ffffff;
}
#skip-navigation {
    width: 1px;
    height: 1px;
    text-indent: -99999px;
    opacity: 0;
    color: #fff;
}
#skip-navigation:focus,
#skip-navigation:active,
#skip-navigation:hover {
    width: 97px;
    height: 15px;
    opacity: 1;
    outline: none;
    text-indent: 0;
    position: absolute;
    top: 5px;
    color: #fff;
    left: 255px;
    font-size: 14px;
    padding: 10px;
    background-color: #3d4244;
    z-index: 1000;
    text-decoration: none;
}
#skip-navigation:hover { text-decoration: underline }
#aux-nav {
    position: absolute;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 18px;
    top: 13px;
    right: 5px;
    color: #2f2f2f;
    width: 110px;
}
#aux-nav ul {
    display: table-cell;
    vertical-align: bottom;
    height: 141px;
    list-style-type: none;
}
#aux-nav li { list-style-type: none }
#aux-nav a {
    color: #2f2f2f;
    text-decoration: none;
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}
#aux-nav a:hover,
#aux-nav a:focus { color: #E86411 }
#parent-navigation {
    position: absolute;
    top: 172px;
    clear: both;
    display: block;
    float: left;
    margin: 0 auto 6px 10px;
}
#parent-navigation ul {
    font-size: 13px;
    list-style: none;
    margin: 0 0 0 -0.8125em;
    padding-left: 0;
}
#parent-navigation li {
    float: left;
    position: relative;
}
#parent-navigation a {
    color: #eee;
    display: block;
    line-height: 2.7em;
    padding: 0 1.4em;
    text-decoration: none;
}
#parent-navigation ul li { border-left: 1px solid #2f3335 }
.extra-border { border-right: 1px solid #2f3335 }
#parent-navigation ul ul {
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    display: none;
    float: left;
    margin: 0;
    position: absolute;
    top: 2.7em;
    left: 0;
    width: 196px;
    z-index: 99999;
}
#parent-navigation ul ul li { border-left: none }
#parent-navigation ul ul ul {
    left: 100%;
    top: 0;
}
#parent-navigation ul ul a {
    background: #f9f9f9;
    border-left: none !important;
    border-bottom: 1px solid #e8e8e8;
    color: #444;
    font-size: 13px;
    font-weight: normal;
    height: auto;
    line-height: 1.4em;
    padding: 10px 10px 10px 18px;
    width: 168px;
}
#parent-navigation li:hover > a,
#parent-navigation ul ul :hover > a,
#parent-navigationa:focus {
    color: #404446;
    background: #efefef;
}
#parent-navigations li:hover > a,
#parent-navigation a:focus {
    background: #f9f9f9; /* Show a solid color for older browsers */
    background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
    background: -o-linear-gradient(#f9f9f9, #e5e5e5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax */
    background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
    color: #373737;
}
#parent-navigation ul li:hover > ul { display: block }
#parent-navigation .current-menu-item > a,
#parent-navigation .current-menu-ancestor > a,
#parent-navigation .current_page_item > a,
#parent-navigation .current_page_ancestor > a { font-weight: bold }
#search-form {
    position: absolute;
    top: 175px;
    right: 0;
    width: 148px;
    height: 28px;
    z-index: 4000;
    background: url(../images/header-search-background-148-28.png) no-repeat;
    padding-left: 30px;
    background-position: 30px 0;
}
#search-form label {
    display: none;
    text-indent: -9999px;
    font-size: 1px;
}
#search-form input {
    width: 112px;
    color: #9fa8b0;
    background: none;
    border: none;
    outline: none;
    float: right;
    margin-top: 7px;
    padding-right: 10px;
    font-size: 11px;
}
#search-form input:focus { color: #fff }
#search-form #go-button {
    float: left;
    margin-top: 8px;
    margin-left: 7px;
    width: 13px;
    height: 13px;
    background: url(../images/header-search-icon-13-13.png) no-repeat;
    text-indent: -9999px;
    cursor: pointer;
    font-size: 1px;
}
@media not all and (-webkit-min-device-pixel-ratio:0) { 
	#search-form #go-button { margin-top: -13px }
}
#content { margin-top: 20px }
.static-homepage-feature {
    min-width: 917px;
    max-width: 917px;
    height: auto;
    margin-top: 10px;
    padding: 6px;
    background-color: #fff;
    border: 1px solid #a3a3a3;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(169, 169, 169, .2);
    box-shadow: 0px 0px 1px 1px rgba(169, 169, 169, .2);
}
#child-navigation {
    width: 200px;
    float: left;
    margin-top: 3px;
}
#child-navigation h3 a {
    font-family: oswald, arial, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #063;
    text-shadow: -1px 1px 1px #ffffff;
    text-decoration: none;
}
#child-navigation ul {
    width: 175px;
    list-style-type: none;
}
#child-navigation ul li {
    margin: 15px 0;
    line-height: 160%;
}
#child-navigation ul li a {
    color: #3b3f41;
    font-size: 1.1em;
    font-weight: 600;
    display: block;
    text-decoration: none;
}
#child-navigation ul li a:hover { color: #063 }
#child-navigation .current_page_item a { color: #063 !important }
#content-left {
    float: left;
    width: 690px;
    margin-right: 20px;
}
#content-left.homepage-no-widgets { width: 100% }
#content-left.homepage-no-widgets .page { padding: 0 12px }
#content-left.homepage-with-widgets { width: 690px }
#content-left.second-level-single-column { width: 693px }
#content-left.second-level-two-no-child { width: 690px }
#content-left.second-level-two-child { width: 490px }
#content-left.second-level-two-child-nw { width: 712px }
#content-left.second-level-full-width { width: 100% }
#content-left h2,
#content-left h3,
#content-left h4,
#content-left h5,
#content-left h6 {
    font-family: Oswald, Arial, sans-serif;
    font-weight: 400;
    text-shadow: -1px 1px 1px #ffffff;
    margin-bottom: 7px;
}
#content-left p {
    color: #383838;
    line-height: 1.5em;
    margin-bottom: 15px;
}
#content-left p a {
    color: #063;
    text-decoration: none;
}
#content-left p a:hover { text-decoration: underline }
#content-left h2 {
    color: #006633;
    font-size: 2.5em;
}
#content-left .post-index h2 { line-height: 120% }
#content-left .post-index h2 a {
    font-size: .8em;
    line-height: 100%;
    color: #006633;
    text-decoration: none;
}
#content-left .post-index h2 a:hover { text-decoration: underline }
#content-left .index-title { font-size: 2em }
#content-left h3 {
    color: #383838;
    font-size: 1.66em;
}
#content-left h4 {
    color: #383838;
    font-size: 1.4em;
}
#content-left ul {
    margin: 0 0 15px 0;
    width: 80%;
    position: relative;
    left: 35px;
}
#content-left ul li {
    color: #383838;
    padding-bottom: 5px;
    line-height: 160%;
}
#content-left li a {
    color: #006633;
    text-decoration: none;
}
#content-left li a:hover,
#content-left li a:focus { text-decoration: underline }
.attachment-single-page-featured {
    float: left;
    margin-right: 25px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #b3b3b3 !important;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .2);
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .2);
}
.date-and-time {
    margin-top: 0;
    margin-bottom: 9px !important;
    color: #7a7a7a;
    font-size: 11px;
}
.last-updated { font-style: italic }
.search-query-return {
    color: #7a7a7a;
    font-size: 1em;
}
.your-query { color: #E86411 }
.pagination {
    clear: both;
    text-align: center;
    margin: 0 0 15px 0;
}
.page-numbers {
    font-size: 14px;
    padding: 0 3px;
    color: #E86411;
    text-decoration: none;
}
.current { font-weight: bold }
.faculty-staff-index {
    float: left;
    padding: 3px 14px;
    width: 195px;
    background-color: #fff;
    margin: 10px;
    min-height: 200px;
}
.faculty-staff-index p {text-align: center; width: 100%;}
.faculty-staff-index img {margin-bottom: 0 !important; float: none !important; display: block; margin: 0 auto 0 auto !important;}
#employee-types {
    margin-top: 15px !important;
    margin-left: 5px !important;
}
#employee-types li { display: inline }
#employee-types li a {
    padding: 0 13px;
    border-right: 1px solid #bfbfbf;
}
.last-employee-type { border-right: none !important }
.attachment-faculty-staff-featured {
    float: left;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #b3b3b3 !important;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .2);
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .2);
}
.faculty-staff-meta {
    margin-top: 10px;
}
.faculty-staff-meta-single {margin-left: 20px; float: left; font-weight: bold; }
.faculty-staff-meta-single p {margin: 8px 0 !important;}
.faculty-staff-meta p {
    font-weight: bold;
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 3px !important;
}
#content-right {
    width: 222px;
    float: left;
}
.text-box {
    background-color: #fff;
    border: 4px solid #d7d6ce;
    padding: 5px;
    margin-bottom: 20px;
    color: #383838;
}
.text-box h4 {
    font-family: Oswald, Arial, sans-serif;
    font-weight: 300;
    font-size: 2em;
    background-color: #d7d6ce;
    padding: 5px;
    text-shadow: -1px 1px 1px #ffffff;
    margin-bottom: 0 !important;
}
.text-box p {
    line-height: 150%;
    margin-top: 5px;
    padding: 5px 10px 10px;
}
.tan-title { font-family: Oswald, Arial, sans-serif;
    font-weight: 300 !important;;
    font-size: 1.5em !important;
    background-color: #d7d6ce;
    padding: 5px;
    text-shadow: -1px 1px 1px #ffffff;
    margin-bottom: 0 !important;
    display: table-cell !important;
    vertical-align: middle;
    width: 300px;

}
.tan-title + .tan-arrow {margin-bottom: 10px;}
.tan-title a {font-size: 1.4em !important;}
.tan-arrow {
    background: url(../images/content-right-tan-down-arrow-29-15.png) no-repeat;
    background-position: 30px 0;
    width: 100%;
    height: 15px;
    margin-bottom: 5px;
}
.black-title {
    color: #fff !important;
    background-color: #000 !important;
    background: rgb(76,76,76);
    /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    text-shadow: none !important;
}
.black-arrow {
    background: url(../images/content-right-black-down-arrow-29-15.png) no-repeat;
    background-position: 30px 0;
    width: 100%;
    height: 15px;
    margin-bottom: 5px;
}
.text-box ul {
    list-style-type: square;
    color: #5d5d5d;
    margin: 0 7px 7px 25px !important;
    width: 90% !important;
}
.text-box ul ul { margin-left: 5% !important }
.text-box li {
    margin-top: 10px;
    line-height: 150%;
}
.text-box a {
    color: #006633;
    text-decoration: none;
}
.text-box a:hover,
.text-box a:focus { text-decoration: underline }
.textwidget img {
    height: auto;
    max-width: 95%;
}
.rsswidget img { padding-right: 2px }
#wp-calendar { width: 100% }
#wp-calendar caption {
    font-weight: bold;
    margin-bottom: 10px;
}
#wp-calendar td { text-align: center }
#homepage-bottom-boxes { margin-bottom: 30px }
#masonry-boxes { clear: both }
.homepage-bottom-single-box {
    width: 272px;
    float: left;
    margin: 10px;
}
.homepage-bottom-single-box h4 {
    font-size: 1.8em !important;
    padding-left: 10px;
}
.homepage-last-box { margin-right: 0 !important }
.clearfooter {
    height: 108px;
    clear: both;
}
#footer {
    background-color: #3d4244;
    height: 88px;
    position: relative;
}
#footer .section-container { position: relative }
#footer-left {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    height: 88px;
    width: 739px;
}
#footer-left p {
    width: 633px;
    line-height: 150%;
}
#footer-left p a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}
#footer-left p a:hover,
#footer-left p a:focus { color: #E86411 }
#footer-right {
    width: 212px;
    display: table-cell;
    vertical-align: middle;
}
.the-social-network {
    float: left;
    padding-left: 5px;
    width: 35px;
    height: 37px;
    background: url(../images/footer-social-media-sprite-35-274.png) no-repeat;
}
#linkedIn { background-position: 0 1px }
#foursquare { background-position: 0 -39px }
#pinterest { background-position: 0 -79px }
#youtube { background-position: 0 -118px }
#twitter { background-position: 0 -158px }
#facebook { background-position: 0 -198px }
#mobile-mason { background-position: 0 -238px }
.second-icon-row { margin-top: 6px }
/* Media Queries for HiDPI displays (ratio equal to or greater than 1.3) */
@media only screen and (-moz-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3) { 
	#mason-logo {
	    background: url(../images/header-mason-logo-382-282@2x.png) no-repeat;
	    background-size: 191px 141px;
	}
	#search-form #go-button {
	    background: url(../images/header-search-icon-26-26@2x.png) no-repeat;
	    background-size: 13px 13px;
	}
	.tan-arrow {
	    background: url(../images/content-right-tan-down-arrow-58-30@2x.png) no-repeat;
	    background-size: 29px 15px;
	    background-position: 30px 0;
	}
	.black-arrow {
	    background: url(../images/content-right-black-down-arrow-58-30@2x.png) no-repeat;
	    background-size: 29px 15px;
	    background-position: 30px 0;
	}
	.the-social-network {
	    background: url(../images/footer-social-media-sprite-74-584@2x.png) no-repeat;
	    background-size: 37px 292px;
	}
	#linkedIn { background-position: 0 0 }
	#foursquare { background-position: 0 -43px }
	#pinterest { background-position: 0 -85px }
	#youtube { background-position: 0 -128px }
	#twitter { background-position: 0 -170px }
	#facebook { background-position: 0 -213px }
	#mobile-mason { background-position: 0 -255px }
	.second-icon-row { margin-top: 4px }
}